/* src/VideoPlayer.css */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 使容器占据整个视口高度 */
    background-color: black; /* 背景颜色，可以根据需要调整 */
  }
  
  video {
    max-width: 100%;
    max-height: 100%;
  }